body{
  display: flex;
  flex-wrap: wrap;
}
.one{
  height: 100vh;
  width: 33.3%;
  background-color: #4A90E2;
}

.two{
  height: 100vh;
  width: 33.3%;
  background-color: #50E3C2;

}

.three{
  height: 100vh;
  width: 33.3%;
  background-color: #B8E986;
  position: relative;
}

.four{
  height: 20vh;
  width: 100%;
  background-color: #D0021B;
  position: absolute;
  bottom: 0px;
}
.four p{
  color:white;
  margin-top: 8vh;
  margin-left: 3vh;
  font-size: 24px;
  font-family: Arial;
}
