

.main-header {
  width:100%;
  height:150px;
  background:#444444;
}

.main-body{
  width:calc(100vw - 200px);
  height:calc(100vh - 150px);
  background:#EFEFEF;
  position: relative;
  display: inline-block;
  float: left;


}
.aside{
  height:calc(100vh - 150px);
  width: 100px;
  display: inline-block;
  background: #D8D8D8;
  float: left;

}

.main-footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0px;
  background: #222222;


}
